html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(132, 132, 132);
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(89, 88, 88);
  border-radius: 10px;
}
